:root.theme-dark {
  --bg-color: #000028;
  --text-color: #F1B2CE;
  --accent-color: #FF0070;
  --title-big-color: #DB00FF;
  --title-decor-text: #000028;
  --bg-image: url(../images/cover-image-dark.png);
  --rec-decor-display: flex;
  --shadow-color: var(--accent-color);
}