:root.theme-light {
  --bg-color: #FFF1F7;
  --text-color: #353430;
  --accent-color: #FF8DCB;
  --title-big-color: #FFC2E6;
  --title-decor-text: #353430;
  --bg-image: url(../images/cover-image-light.png);
  --rec-decor-display: none;
  --shadow-color: #FF8DCB;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #FFF1F7;
    --text-color: #353430;
    --accent-color: #FF8DCB;
    --title-big-color: #FFC2E6;
    --title-decor-text: #353430;
    --bg-image: url(../images/cover-image-light.png);
    --rec-decor-display: none;
    --shadow-color: #FF8DCB;
  }
}