:root.theme-light {
  --bg-color: #FFF1F7;
  --accent-color: #FF8DCB;
  --main-text-color: #353430;
  --title-bg-color: #FF8DCB;
  --title-text-color: #353430;
  --title-big-color: #FFC2E6;
  --shadow-color: #FF8DCB;
  --bg-image: url(../images/cover-image-light.png);
}

.theme-light .header__rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root:not(.theme-dark) {
    --bg-color: #FFF1F7;
    --accent-color: #FF8DCB;
    --main-text-color: #353430;
    --title-bg-color: #FF8DCB;
    --title-text-color: #353430;
    --title-big-color: #FFC2E6;
    --shadow-color: #FF8DCB;
    --bg-image: url(../images/cover-image-light.png);
  }
}