.page {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--main-font);
  background-image: var(--bg-image);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  min-block-size: var(--header-footer-height);
  padding: 10px;
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-inline-end: 1px solid var(--accent-color);
  border-block-start: 1px solid var(--accent-color);
  inset-block-start: 10px;
  inset-inline-end: 10px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-inline-start: 1px solid var(--accent-color);
  border-block-end: 1px solid var(--accent-color);
  inset-block-end: 10px;
  inset-inline-start: 10px;
}

.rec-decor {
  position: absolute;
  top: 10px;
  right: 10px;
  display: var(--rec-decor-display);
  align-items: center;
  gap: 10px;
}

.rec-decor::before {
  content: "REC";
  color: var(--accent-color);
  font-size: 18px;
}

.rec-decor::after {
  content: "";
  inline-size: 9px;
  block-size: 9px;
  background-color: var(--accent-color);
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.header__theme-menu {
  justify-self: end;
  align-self: start;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  padding: 0 13px;
  text-transform: lowercase;
  color: var(--accent-color);
  font-size: 18px;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--accent-color);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  outline: 1px solid rgba(255, 0, 112, 0.4);
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--accent-color);
}

.header_title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.825;
  color: var(--title-big-color);
  text-shadow: 4px 4px 0 var(--shadow-color);
}

.header_under-title {
  justify-self: end;
  align-self: center;
}

.header_under-title .title-decor {
  display: inline-block;
  max-inline-size: 355px;
  font-weight: 700;
  padding: 5px;
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--title-decor-text);
}

.main-content {
  display: grid;
  gap: var(--section-gap);
  padding: 40px 10px;
}

.content-section {
  display: grid;
  gap: 20px;
}

.section-title {
  color: var(--accent-color);
  font-size: 18px;
  font-weight: 700;
}

.articles-container {
  display: grid;
  gap: 20px;
}

.article-title {
  margin-block-end: 10px;
}

.text {
  line-height: 1.3;
}

.gallery-section {
  display: grid;
  gap: 20px;
}

.gallery {
  display: grid;
  gap: 10px;
}

.image {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  display: block;
}

.footer {
  display: grid;
  place-items: center;
  min-block-size: var(--header-footer-height);
  position: relative;
}

.footer_title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--title-big-color);
  text-shadow: 2px 2px 0 var(--shadow-color);
}

@media (width >= 768px) {
  .header { padding: 20px; }
  .header_title { font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem); margin-inline-start: -20px; }
  .header_under-title .title-decor { max-inline-size: 364px; }
  .content-section { grid-template-columns: 1fr 2fr; }
  .gallery { grid-template-columns: repeat(3, 1fr); gap: 20px; }
  .gallery li:nth-child(1) { grid-column: span 2; }
  .gallery li:nth-child(2) { grid-row: span 2; }
  .gallery li:nth-child(3) { grid-row: span 2; }
  .gallery li:nth-child(5) { grid-column: span 2; }
  .footer_title { font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem); }
}

@media (width >= 1024px) {
  .header__theme-menu { justify-self: center; align-self: start; }
  .header__theme-menu-list { flex-direction: row; }
  .header_under-title .title-decor { max-inline-size: 491px; }
  .section-columns .articles-container { grid-template-columns: repeat(3, 1fr); }
}