.page {
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: var(--main-text-color);
  font-family: var(--main-font);
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  padding: 10px;
  inline-size: 100%;
  min-block-size: 100vh;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  inline-size: 25px;
  block-size: 25px;
  border-inline-end: 1px solid var(--accent-color);
  border-block-start: 1px solid var(--accent-color);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 10px;
  inline-size: 25px;
  block-size: 25px;
  border-inline-start: 1px solid var(--accent-color);
  border-block-end: 1px solid var(--accent-color);
}

.header__theme-menu-button {
  background-color: transparent;
  border: 1px solid transparent;
  color: var(--accent-color);
  text-transform: uppercase;
  cursor: pointer;
  padding: 0 10px;
  line-height: 25px;
}

.header__theme-menu-button:hover {
  border: 1px solid rgba(255, 0, 112, 0.4);
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
  pointer-events: none;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--accent-color);
}

.footer {
  position: relative;
  display: grid;
  place-items: center;
  min-block-size: 100vh;
}

.some-class {
  display: block;
}